p{color:rebeccapurple
div{max-width:600px;
    margin:auto;
   }
;font-size:larger;
font: weight 700px;
font-family:Georgia, 'Times New Roman', Times, serif };
body
{background-color: blue;}
