p{color:rebeccapurple
div{max-width:600px;
    margin:auto;
   }
;font-size:larger;
font: weight 700px;
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
font-family:Georgia, 'Times New Roman', Times, serif };
body
{background-color: blue;}
