p{
    color:rebeccapurple;
}

div{
    max-width:750px;
    margin:auto;
   font-size:larger;
   font-weight 700px;
}
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


body
{
    background-color: blue;
}
